<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idear.move">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 全局注册 -->
    <!-- <receiver android:name="NetBroadCastReceiver"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
    <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> -->
    <!-- <action android:name="android.net.wifi.STATE_CHANGE" /> -->
    <!-- </intent-filter> -->
    <!-- </receiver> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/move"
        android:label="@string/app_name"
        android:roundIcon="@drawable/move"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MyLoadingActivity"
            android:theme="@style/FirstPageStyle"></activity>
        <activity
            android:name=".Activity.SelectActivity"
            android:launchMode="singleTop"
            android:theme="@style/FirstPageStyle" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.MoveProtocolWebViewActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.LoginModeActivity"
            android:launchMode="singleTask"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.UserRegisterActivity"
            android:label=""
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.ForgetPasswordActivity"
            android:label=""
            android:theme="@style/otherPageStyle" />
        <activity android:name=".Activity.MenuActivity" />
        <activity
            android:name=".SponsorActivity.SponsorMainUIActivity"
            android:label=""
            android:theme="@style/otherPageStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Activity.SearchActivity"
            android:theme="@style/searchPageStyle" />
        <activity
            android:name=".Activity.AllActivityActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.FeedbackActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.SpreadActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.UserDetailInformationActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.UserSettingActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.MyTakePartInActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.DynamicPublishingActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.FriendAddActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.SpreadDetailActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.ActivityDetailActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.FeedBackDetailActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.PublishRFActivity"
            android:theme="@style/PublishPageStyle" />
        <activity
            android:name=".Activity.PublishRActivity"
            android:theme="@style/PublishPageStyle" />
        <activity
            android:name=".Activity.PublishFActivity"
            android:theme="@style/PublishPageStyle" />
        <activity
            android:name=".Activity.UserLoginActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.UserChatActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.UserMainUIActivity"
            android:label=""
            android:theme="@style/otherPageStyle"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".Activity.UserRegisterNextStepActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".SponsorActivity.SponsorLoginActivity"
            android:label="@string/title_activity_sponsor_login"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.UserSearchActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.MyDynamicsActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".SponsorActivity.SponsorRegisterNextStepActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".SponsorActivity.SponsorRegisterActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.MyFavoritesActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.MyActivityActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.WriteFeedBackActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.UserUpdatePasswordActivity"
            android:theme="@style/otherPageStyle" />
        <!-- 补间动画测试类 -->
        <activity
            android:name=".Activity.AnimationTestActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.FansAndAttentionActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.DynamicCommentActivity"
            android:theme="@style/otherPageStyle" />
        <activity
            android:name=".Activity.DynamicPraiseActivity"
            android:theme="@style/otherPageStyle" />
        <activity android:name=".Activity.DynamicsDetailActivity"
            android:theme="@style/otherPageStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 启动 -->
        </activity>
    </application>

</manifest>